<div class="alert alert-warning" role="alert">
  <h5>DISCLAIMER:</h5> Not an <a href="https://www.icao.int/publications/DOC8643/Pages/Search.aspx">official source.</a> Provided "as is", with no guarantee of completeness, accuracy, timeliness or of the results obtained from the use of this information...etc etc. 
</div>