<h1>Attachments</h1>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Record Type</th>
      <th>Actions</th>
    </tr>
  <thead>
  <tbody>
    <%= render attachments %>
  </tbody>
</table>