<% content_for(:page_title, Breadcrumb.title_string(breadcrumbs) ) %>
<% cache batch do -%>
  <div class="card">
    <div class="card-header">
      <%= button_to "Process", reprocess_tds_batch_path(batch), method: :put, class: "btn btn-sm btn-primary", data: {turbo_method: :put} %>
    </div>
    <div class="card-body">
      <%= render batch %>
    </div>
  </div>
<% end -%>
