<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <div class="card">
      <%= link_to romanchuk_open_page_path("1985") do %>
        <%= image_tag 'romanchuk_open/1985/1.jpg', class: 'card-img' %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title">1985</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
      </div>
    </div>
  </div>
</div>