<footer class="footer mt-auto py-3">
  <div class="container footer-container">
    <small><code>299B B85C 5DCB E20A BAC8 08FD AE42 2CE3 C618 3D21 </code><a href="files/romanchuk.pub">pub</a></small>
  </div>
</footer>
