<title><%= yield(:page_title) || 'Ryan Romanchuk' %></title>


<meta name="apple-itunes-app" content="app-id=1109640290, app-argument=https://getspar.com/pid/personal">
<meta content="<%= yield(:page_description) %>" name="description" />
<meta content="ua0bOK-G5Ddcx6e_Dz-Sl6J3lym5fRFPd3m5Z1ljLGU" name="google-site-verification" />