<%= turbo_frame_tag pirep do %>
  <div data-controller="maps" data-maps-geo-json-value="<%= map_wx_pirep_path(pirep, format: :json) %>">
    <div id="map" style="width:100%; height:400px"> </div>
  </end>
<% end %>