.DS_Store
.env
.sass-cache
.tex

/ignore/*
!/ignore/.keep

/node_modules
personal/public/videos/*

iam.ts

/client/*
/personal/public/assets
/personal/public/static/*
/tmp/*
dump.sql
*.cache
/xcode/Demo*
/xcode/Realm*
personal/public/sitemap.xml
personal/public/sitemaps/*
personal/app/views/pages/fiddle.html.erb
