<footer class="footer mt-auto py-3">
  <div class="container footer-container">

    <span>
      <i class="fa-solid fa-code"></i>
      <%= link_to "src", "https://github.com/rromanchuk/romanch.uk" %>
    </span>
    <span class="mx-2">
      <i class="fa-solid fa-key"></i>
      <%= link_to "pub", page_path("public_key") %>
    </span>
    <% if current_user %>
      <span class="mx-2">
        <i class="fa-solid fa-face-sad-cry"></i>
        <%= link_to "Exit", oauth_cognito_logout_path %>
      </span>
    <% else %>
      <span class="mx-2">
        <i class="fa-solid fa-person-through-window"></i>
        <%= link_to "enter", apple_signin_sessions_path, data: { turbo_action: :replace, turbo_frame: :apple_signin } %>
      </span>
    <% end %>
  </div>
</footer>