<script src="https://accounts.google.com/gsi/client" async defer></script>

<div id="g_id_onload"
     data-client_id="460594802675-mb1pg45jd41duhuh3mls2eanopunjfmu.apps.googleusercontent.com"
     data-context="signin"
     data-callback="googleOneTapCallback"
     data-auto_select="true">
</div>