<div class="position-relative d-flex justify-content-center" data-controller="pdf-viewer" data-pdf-viewer-url-value="https://romanch.uk/static/docs/v4/romanchuk_public.pdf">
  <div id="viewerContainer" class="position-absolute img-fluid <%= current_user ? '' : 'loggedOut'%>">
    <div id="viewer" class="pdfViewer"></div>
  </div>
</div>


