<h1>Editing raw report</h1>

<%= render "form" %>

<br>

<div>
  <%= link_to "Show this raw report", pireps_raw_report_path(raw_report) %> |
  <%= link_to "Back to raw reports", pireps_raw_reports_path %>
</div>
