
<h1>Romanchuk Open</h1>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <% tournaments.each do |t| %>
    <div class="col">
      <div class="card">
        <%= link_to romanchuk_open_tournament_path(t) do %>
          <%= image_tag "#{t.images.first&.key}", class: 'card-img' %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= "#{t.title} #{t.ocurred_on&.year}" %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>