

<section class="album py-5 bg-light">
  
  <div class="container">
    <img src="/static/romanchukopen/buck.jpg" class="img-thumbnail" alt="">
    <img src="/static/romanchukopen/rod.jpg" class="img-thumbnail" alt="">
    <img src="/static/romanchukopen/steve.jpg" class="img-thumbnail" alt="">
    <img src="/static/romanchukopen/peter.jpg" class="img-thumbnail" alt="">
    <img src="/static/romanchukopen/matt.jpg" class="img-thumbnail" alt="">
    <img src="/static/romanchukopen/kyle.jpg" class="img-thumbnail" alt="">
  </div>
</section>