
<div class="container">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Id</th>
        <th></th>
        <th>Actions</th>
      </tr>
    <thead>
    <tbody>
      <%= render images %>
    </tbody>
  </table>
</div>