<h3>Aviation Weather and Misc Data </h3>

<p>
Sourced from the <a href="https://aviationweather.gov/">Aviation Weather Center,</a> and others. References and other details at <a href="https://romanch.uk/posts/text-data-server-tds">Text Data Server (TDS).</a>
</p>