<% content_for(:page_title, 'Flying') %>
<% content_for(:canonical_url, page_url("flying")) %>
<% cache 'v2' do %>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% flying_videos.each do |streaming_video| %>
      <div class="col">
        <div class="card" style="">
          <%= link_to(serve_video_path(id: streaming_video.slug)) do %>
            <img src="<%= streaming_video.thumbnail_key %>" class="card-img-top" style="max-height: 356px; object-fit: cover;" alt="">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= streaming_video.title %></h5>
            <span class="card-text text-muted"><%= streaming_video.description %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
