<% content_for(:page_title) { 'Flying' } %>
<ul>
  <li><%= link_to 'KAVX', serve_video_path(id: 'avx-master-m3u8') %></li>
  <li><%= link_to 'l35', serve_video_path(id: 'l35-master-m3u8') %></li>
  <li><%= link_to 'l35 departure', serve_video_path(id: 'l35-departure') %></li>
  <li><%= link_to 'KTOA', serve_video_path(id: 'ktoa') %></li>
</ul>