<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="/static/potree/potree.css">
  <link rel="stylesheet" type="text/css" href="/static/libs/jquery-ui/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="/static/libs/openlayers3/ol.css">
  <link rel="stylesheet" type="text/css" href="/static/libs/spectrum/spectrum.css">
  <link rel="stylesheet" type="text/css" href="/static/libs/jstree/themes/mixed/style.css">
<% end %>

<script src="/static/libs/jquery/jquery-3.1.1.min.js"></script>
<script src="/static/libs/spectrum/spectrum.js"></script>
<script src="/static/libs/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/libs/other/BinaryHeap.js"></script>
<script src="/static/libs/tween/tween.min.js"></script>
<script src="/static/libs/d3/d3.js"></script>
<script src="/static/libs/proj4/proj4.js"></script>
<script src="/static/libs/openlayers3/ol.js"></script>
<script src="/static/libs/i18next/i18next.js"></script>
<script src="/static/libs/jstree/jstree.js"></script>
<script src="/static/libs/plasio/js/laslaz.js"></script>
<script src="/static/potree/potree.js"></script>

<div class="potree_container" data-controller="potree" style="position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; ">
  <div id="potree_render_area"></div>
  <div id="potree_sidebar_container"> </div>
</div>


