<%- content_for(:page_title) { "three.js gtflx model viewer" } %>



<main data-controller="three" data-three-url-value="/static/models/xp-mesh.gltf" class="wrap">
  <div class="dropzone">
    <div class="viewer"></div>
  </div>
  <div class="spinner"></div>
</main>

