[Unit]
Description=Puma HTTP Server
After=network.target
Requires=puma.socket

[Service]
# Puma supports systemd's `Type=notify` and watchdog service
# monitoring, if the [sd_notify](https://github.com/agis/ruby-sdnotify) gem is installed,
# as of Puma 5.1 or later.
# On earlier versions of Puma or JRuby, change this to `Type=simple` and remove
# the `WatchdogSec` line.
Type=simple


User=ubuntu
Group=ubuntu

EnvironmentFile=/home/ubuntu/.env
WorkingDirectory=/var/www/romanch.uk/current
ExecStart=/var/www/romanch.uk/current/bin/puma -w 0 -t 1:10 -e production


SyslogIdentifier=puma
Restart=always

[Install]
WantedBy=multi-user.target