[Unit]
Description=Puma HTTP Server Accept Sockets

[Socket]
ListenStream=/home/ubuntu/tmp/sockets/puma.sock


ReusePort=true
Backlog=1024

[Install]
WantedBy=sockets.target