<header>
  <h1>Ryan Romanchuk</h1>
</header>
<main>
  <section>
    <p>Full-stack developer in the <a href="https://getspar.com">consumer mobile</a> space.</p>
  </section>
  <section>
    <p>Find me on the World Wide Web</p>
    <ul>
      <li><a href="https://github.com/rromanchuk">github</a></li>
      <li><a href="https://stackoverflow.com/users/775762/ryan-romanchuk">stackoverflow</a></li>
    </ul>
  </section>
</main>
<footer>
  <p><hr/><small>299B B85C 5DCB E20A BAC8 08FD AE42 2CE3 C618 3D21 <a href="romanchuk.pub">pub</a></small></p>
</footer>
<script type="module">
  
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-analytics.js";
  
  const firebaseConfig = {
    apiKey: "AIzaSyDuQ4EhdFuCoX5OeIRig5lw-xBlNm1KUlo",
    authDomain: "ryan-romanchuk.firebaseapp.com",
    projectId: "ryan-romanchuk",
    storageBucket: "ryan-romanchuk.appspot.com",
    messagingSenderId: "460594802675",
    appId: "1:460594802675:web:d7d29fd5cb673b8cea2c86",
    measurementId: "G-24Q5EDRSF7"
  };

  
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>