<header>
  <h1>Ryan Romanchuk</h1>
</header>
<main>
  <section>
    <p>Full-stack developer in the <a href="https://getspar.com">consumer mobile</a> space.</p>
  </section>
  <section>
    <p>Find me on the World Wide Web</p>
    <ul class="fa-ul">
      <li>
        <span class="fa-li"><i class="fa-brands fa-github"></i></span><a href="https://github.com/rromanchuk">github</a>
      </li>
      <li>
        <span class="fa-li"><i class="fa-brands fa-stack-overflow"></i></span><a href="https://stackoverflow.com/users/775762/ryan-romanchuk">stackoverflow</a>
      </li>
      <li>
        <span class="fa-li"><i class="fa-brands fa-linkedin"></i></span><a href="https://stackoverflow.com/users/775762/ryan-romanchuk">linkedin</a>
      </li>
    </ul>
  </section>
</main>
<footer>
  <p><hr/><small>299B B85C 5DCB E20A BAC8 08FD AE42 2CE3 C618 3D21 <a href="files/romanchuk.pub">pub</a></small></p>
</footer>
