<% content_for :page_title, "All golfers" %>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <% RomanchukOpen::Golfer.attribute_names.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
  <thead>
  <tbody>
    <% golfers.each do |golfer| %>
      <tr>
        <td><%= golfer.name %></td>
        <% RomanchukOpen::Golfer.attribute_names.each do |header| %>
          <td class="text-break "><%= golfer.send(header) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
