<% content_for(:page_title, Breadcrumb.title_string(breadcrumbs) ) %>

<% content_for :head do %>
  <meta name="robots" content="noindex">
<% end %>


<%= turbo_frame_tag metar do %>
  <div class="card">
    <div class="card-header">
      <%= link_to "Debug", debug_tds_metar_path(metar), class: " btn btn-secondary btn-sm", rel: "nofollow", data: {turbo_action: :advance} %>
    </div>
    <div class="card-body">
      <%= render metar %>
    </div>
    <div class="card-footer text-muted">
      <div class="d-flex">
        <%# link_to "Edit", edit_post_path(post), class: 'btn btn-link btn-sm', data: { turbo_action: "replace" } %>
        <%= button_to "Destory", tds_metar_path(metar), method: :delete, class: 'btn btn-danger btn-sm', data: {turbo_method: :delete}, form_class: ''  %>
      </div>
    </div>
  </div>
<% end %>
