<%= provide(:page_title, 'The Romanchuk Open') %>
<%= provide(:canonical_url, romanchuk_open_tournaments_url(host: 'romanchukopen.com')) %>


<section>
  <div class="row py-lg-5 py-5 text-center container">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">The Romanchuk Open</h1>
      <p class="lead text-muted">July 2022</p>
      <p>
        <%= link_to "All players", romanchuk_open_players_path %>
      </p>
    </div>
  </div>
</section>

<section class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <%= render partial: 'romanchuk_open/tournaments/tournament', collection: tournaments, cached: true %>
    </div>
  </div>
</section>