<nav>
  <ul class="pagination">
    <li class="page-item">
      <% if dr_pagy&.prev %>
        <%= link_to(
          "< Previous page",
          wx_batches_path(page: dr_pagy.prev),
          class: "page-link",
          data: {
            turbo_action: "advance"
          }
        ) %>
      <% end %>
    </li>
    <li class="page-item">
      <% if dr_pagy&.next %>
        <%= link_to(
          "Next page >",
          wx_batches_path(page: dr_pagy.next),
          class: "page-link",
          data: {
            turbo_action: "advance"
          }
        ) %>
      <% end %>
    </li>
  </ul>
</nav>
