
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="--bs-breadcrumb-margin-bottom: 0rem;">
    <% crumbs.each do |crumb| %>
      <li class="breadcrumb-item <%= current_page?(crumb.path) ? 'active' : '' %>">
        <% if crumb.path %>
          <%= link_to crumb.name, crumb.path %>
        <% else %>
          <%= crumb.name %>
        <% end %>
      </li>
    <% end%>    
  </ol>
</nav>