
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="<%= style %>">
    <% crumbs.each do |crumb| %>
      <li class="breadcrumb-item <%= current_page?(crumb.url) ? 'active' : '' %>">
        <% if crumb.url %>
          <%= link_to crumb.name, crumb.url %>
        <% else %>
          <%= crumb.name %>
        <% end %>
      </li>
    <% end%>    
  </ol>
</nav>