<nav aria-label="breadcrumb" class="navbar navbar-dark  shadow-sm">
  <div class="container-sm">
    <ol class="breadcrumb" style="--bs-breadcrumb-margin-bottom: 0rem;">
      
      <%= bread_crumbs(crumbs) %>
      
    </ol>
  </div>
</nav>