
  <div 
    class="modal fade" 
    tabindex="-1" 
    aria-hidden="true" 
    data-controller="modal"
    data-modal-title-value="<%= title %>"
    >
    <%= tag.div class: "modal-dialog #{size}" do %>
      <div class="modal-content">
        <div class="modal-header">
          <%= tag.h5 title, class: 'modal-title' %>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mb-2">
          <%= body %>
        </div>
        <% if close_footer %>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
