<div class="modal fade" id="<%= target %>" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <%= body %>
        <div class="ratio ratio-21x9" id="player">
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>