<table class="table table-striped table-sm">
  <thead>
    <tr>
      <% User.attribute_names.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
    <thead>
      <tbody>
        <% users.each do |user| %>
          <tr>
            <% User.attribute_names.each do |header| %>
              <td class="text-break "><%= user.send(header) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
