<% content_for(:page_title,  'New Blob') %>

<%= tag.div class: 'row justify-content-center' do %>
  <%= tag.div class: 'col-12 col-md-10 col-lg-8' do %>
    <h1>New Blob</h1>
    <%= turbo_frame_tag blob do %>
      <%= render "form" %>
    <% end %>

  <% end %>
<% end %>