<% content_for :page_title, "All players" %>



<section>
  <div class="row py-lg-5 py-5 text-center container">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">All participants</h1>
      <p class="lead text-muted">1985-2021</p>
      <p>
        <!--<a href="#" class="btn btn-primary my-2">Main call to action</a> -->
        <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
      </p>
    </div>
  </div>
</section>

<section class="album py-5 bg-light">
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Player</th>
          <th>Years played</th>
        </tr>
      </thead>
      <tbody>
        <% players.each do |player| %>
          <tr>
            <td><%= link_to player.name, romanchuk_open_player_path(player) %></td>
            <td>
              <% player.tournaments.each do |tournament|  %>
                <%= link_to tournament.year, romanchuk_open_tournament_path(tournament) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>