<% content_for :page_title, "All players" %>
<% content_for :canonical_link_tag do %>
  <link rel="canonical" href="<%= romanchuk_open_players_url %>" />
<% end %>


<section>
  <div class="row py-lg-5 py-5 text-center container">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">All participants</h1>
      <p class="lead text-muted">1985-2021</p>
      <p>
        <%# if current_user %>
          <%= link_to "New player", new_romanchuk_open_player_path, data: { turbo_frame: 'player_modal'  } %>
        <%# end %>
        <!--<a href="#" class="btn btn-primary my-2">Main call to action</a> -->
        <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
      </p>
    </div>
  </div>
</section>

<section class="album py-5 bg-light">
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Player</th>
          <th>Years played</th>
        </tr>
      </thead>
      <tbody>
        <%= render players %>
      </tbody>
    </table>
  </div>
</section>

<%= turbo_frame_tag "player_modal" %>