
<section>
  <div class="row py-lg-5 py-5 text-center container">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light"><%= player.name %></h1>
      <p class="lead text-muted"><%# "#{tournament.ocurred_on&.strftime("%B, %Y")}, #{tournament.location}" %></p>
      <p>
        <%# link_to "Golfers", romanchuk_open_tournament_golfers_path(tournament) %>

      </p>
      <% if current_user %>
        <div class="hstack gap-2 justify-content-center">
          <%= link_to "Edit", edit_romanchuk_open_player_path(player), class: 'btn btn-sm my-2', data: { turbo_action: "replace" } %>
          <%= button_to "Destory", romanchuk_open_player_path(player), method: :delete, class: 'btn btn-sm btn-danger my-2', data: {turbo_method: :delete}, form_class: ''  %>
        </div>
      <% end %>
    </div>
  </div>
</section>
