
<%= turbo_frame_tag post do %>
  <article class="d-flex justify-content-between mb-2">
    
   <h6 class="fw-normal"><%= link_to post.title, post_path(post), class: 'archive-title', data: { turbo_frame: "_top" } %></h6>
   <time datetime="<%= post.created_at %>" class=""><%= post.created_at.strftime("%B %d, %Y") %></time>
  </article>
  <%# link_to "Show", post_path(post), data: { turbo_frame: "_top" } %>
  <%# link_to "Edit", edit_post_path(post), data: { turbo_frame: "_top" } %>
  <%# button_to "Delete", post, method: :delete, class: 'btn btn-link text-danger p-0 m-0 d-inline align-baseline', form: { data: { turbo_confirm: "Are you sure?" } } %>
<% end %>

