<%= tag.div class: 'row justify-content-center' do %>
  <%= tag.div class: 'col-12 col-md-10 col-lg-8' do %>
    <h1>Edit post</h1>
    <%= turbo_frame_tag post do %>
      <%= render "form" %>
    <% end %>
  <% end %>
<% end %>