<%# turbo_frame_tag "new_post", target: "_top" %>


<h4>Posts</h4>
<% if current_user %>
  <%= link_to "New post", new_post_path, data: { turbo_action: :replace } %>
<% end %>
<hr />
<%= turbo_frame_tag :posts, autoscroll: "true" do %>
  <div class="archive">
    <%= render posts %>
  </div>
  <%# pagy_nav(dr_pagy) %>
  <%= render "pager" %>
<% end %>
