<% content_for(:page_title) { 'New post' } %>
<%= tag.div class: 'row justify-content-center' do %>
  <%= tag.div class: 'col-12 col-md-10 col-lg-8' do %>
    <h1>New Post</h1>
    <%= turbo_frame_tag @new_post do %>
      <%= render "form", post: @new_post %>
    <% end %>
  <% end %>
<% end %>
