<%- content_for(:page_title) { post.title } %>
<%- content_for(:page_author) { '' } %>
<%- content_for(:page_description) { post.description } %>

<%= turbo_frame_tag post do %>
  <article class="post">
    <h1><%= post.title %></h1>
    <span class="fs-4 text-muted"><%= post.created_at.strftime("%b %d, %y") %></span>
    <div class="mt-4"><%= markdown(post.body) %></div>
  </article>
<% end %>