<% content_for(:page_title, 'The Romanchuk Open') %>
<% content_for(:canonical_url, ro_tournaments_url(host: 'romanchukopen.com')) %>



<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">The Romanchuk Open</h1>
      <p class="lead text-body-secondary"></p>
      <p>
        <%= link_to "All players", ro_players_path, class: "btn btn-primary my-2" %>
        <%# <a href="#" class="btn btn-secondary my-2">Secondary action</a> %>
      </p>
    </div>
  </div>
</section>


<div class="album py-5 bg-body-tertiary">
    <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <%= render partial: 'tournament', collection: tournaments %>
    </div>
  </div>
</div>

