<% content_for(:page_title) { 'All assets' } %>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <% Asset.attribute_names.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
  <thead>
  <tbody>
    <% assets.each do |image| %>
      <tr>
        <% Asset.attribute_names.each do |header| %>
          <td class="text-break "><%= image.send(header) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render assets %>